spring:
  datasource:
    initialization-mode: always
    platform: postgresql
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    initialize: true

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      'ddl-auto': none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
